<template>
  <Tutorial />
</template>

<script>
// import CardBasic from '~/components/CardBasic.vue'
export default {
  name: 'IndexPage'
  // components: { CardBasic }
}
</script>
<style>

</style>
